<div class="container post-container py-4">
  <img data-test="post-image" class="card-img-top" src={{model.image}} alt="Card image cap">
  <h1 data-test="post-title" class="mt-5">{{model.title}}</h1>
  <p data-test="post-body" class="my-4">{{model.body}}</p>

  <h4 class="my-5">Comments</h4>

  <ul>
    {{#each @model.comments as |comment|}}
      <li>
        {{comment.name}}<br>
        {{comment.body}}<br>
      </li>
    {{/each}}
  </ul>
</div>